<script async src="/assets/js/html2canvas.min.js" language="javascript" type="text/javascript"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Y0M2BQ02C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2Y0M2BQ02C');
</script>

<!--Added snipcart pieces-->
<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.23/default/snipcart.css" />

<style>
  .snipcart-modal__container {
  z-index: 120;
}
</style>

<div hidden id="snipcart" data-api-key="ZTc4NTc2OWItZmJlZS00OTM4LTk0OWYtMmY2Y2ZhYWMwNzM0NjM3MzQyMjA2MzU1NzMxNzgx">
</div>

<script async src="https://cdn.snipcart.com/themes/v3.0.23/default/snipcart.js" language="javascript" type="text/javascript"></script>