<script async src="/assets/js/html2canvas.min.js" language="javascript" type="text/javascript"></script>
<!--Added snipcart pieces-->
<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.20/default/snipcart.css" />

<style>
  .snipcart-modal__container {
  z-index: 120;
}
</style>

<div hidden id="snipcart" data-api-key="ZTc4NTc2OWItZmJlZS00OTM4LTk0OWYtMmY2Y2ZhYWMwNzM0NjM3MzQyMjA2MzU1NzMxNzgx">
</div>

<script async src="https://cdn.snipcart.com/themes/v3.0.20/default/snipcart.js" language="javascript" type="text/javascript"></script>