<script src="https://gumroad.com/js/gumroad.js"></script>
<script async src="/assets/js/html2canvas.min.js" language="javascript" type="text/javascript"></script>
<!--Added snipcart pieces-->
<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.20/default/snipcart.css" />
<link rel="stylesheet" href="/assets/snipcart-override.css"/>

<div hidden id="snipcart" data-api-key="Y2Q2ZTBhMDgtYzNmNy00MTAxLWE4ZWItNGE0NzljMzljMTE3NjM3MzQyMjA2MzU1NzMxNzgx">
</div>

<script async src="https://cdn.snipcart.com/themes/v3.0.20/default/snipcart.js" language="javascript" type="text/javascript"></script>