/* Simple Forms */
.formCard {
  background-color: #282e31;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: black 10px;
  box-shadow: 5px 5px 6px darkgray;
}

.formCard div{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Shopping Cart */
.snipcart-checkout {
  width: auto;
  display: initial;
  padding: 20px;
}

/* Stygian Generator */
.stygian-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  color: black;
}

.stygian-log {
  background-color: #313131;
  color: #F5F5F5;
  padding: 0px 20px;
  font-size: 14px;
  flex: 0 0 300px;
  text-align:center;
  position: sticky;
  position: -webkit-sticky;
  top: 4rem;
}

.stygian-log p {
  text-align:left;
}

.stygian-text {
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  min-width: 300px;
  flex: 1 1 400px;
  margin-bottom: 20px;
}

.logItem p{
  color:white;
  background-color: black;
  padding: 10px;
  border: 0.1em solid #F5F5F5;
  transition: all 0.2s;
  cursor:pointer;
}

.logLevel{
  font-size: 4em;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  float: left;
  font-weight: bold;
  line-height: .7em;
}

.logItem p:hover {
  color: #000000;
  background-color: #F5F5F5;
}

.stygian-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #F5F5F5;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #F5F5F5;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
  width:100%;
  cursor:pointer;
}

.stygian-button:hover {
  color: #000000;
  background-color: #F5F5F5;
}

@media all and (max-width:30em) {
  .stygian-button {
    display: block;
    margin: 0.4em auto;
  }
}

/* Glyph, by Harry Roberts */

hr.stygian-hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  line-height: 2em;
}
hr.stygian-hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

hr.stygian-hr-dark {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double white;
  color: white;
  text-align: center;
  line-height: 2em;
}
hr.stygian-hr-dark:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #313131;
}

/* Full Page Template */
.full-content {
  margin-left: auto;
  margin-right: auto;
  padding: 8rem $content-padding 12rem;
  max-width: 100%;

  @media screen {
    padding-left: $content-padding + .5rem;
    min-height: 100vh;
  }

  @media screen and (min-width: $break-point-3) {
    padding-left: $content-padding;
    margin-left: $sidebar-width + $content-margin-3;
    margin-right: $content-margin-3;
  }

  @media screen and (min-width: $break-point-5) {
    margin-left: $sidebar-width + $content-margin-5;
    margin-right: $content-margin-5;
  }

  @media screen and (min-width: $break-point-dynamic) {
    margin-right: 5rem;
    margin-left: calc(52% - 31rem);
  }
}

/* Blog Review Cards*/
.blogcolumn {
	margin: 15px 15px 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.blogcolumn:last-child {
	padding-bottom: 60px;
}
.blogcolumn::after {
	content: '';
	clear: both;
	display: block;
}
.blogcolumn div {
	position: relative;
	float: left;
	width: 40%;
	height: auto;
	margin: 10px;
  padding: 0;
  box-shadow: .125rem .125rem 1rem rgba(0,0,0,.2);
  background-color: var(--gray-bg);
  min-width: 250px;
}

.blogcolumn h3 {
  margin-top: 10px;
  text-align: center;
}

figure {
  min-width: 250px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

/* Zoom In #1 */
.bloghover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.bloghover01 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*Troika Card*/

#troikacard {
  width: 225px;
  height: 315px;
  perspective: 500px;
}

#troikacardsides {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 0.5s linear;
  transform-style: preserve-3d;
}

#troikacardfront,
#troikacardback {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  background-size: auto;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

#troikacardback {
  color: slategrey;
  background-color: #fff8dd;
  transform: rotateY( 180deg );
}

#troikacardfront {
  color: slategrey;
  background-image: url('/images/troika_back_card.png');
  background-size: contain;
  background-color: #fff8dd;
}

/*Tempered Legacy*/
img.temperedicon {
  width: 40px;
  height: 40px;
}

.cellGoals {
  background-color: whitesmoke !important;
  color: #2d2d2d;
  border: none;
  border-radius: 1em;
  padding: 20px 20px 5px 20px;
}

.dataCol {
    border: 1px solid #2d2d2d;
}

.dataCol p{
  border-bottom: 1px solid grey;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.temperedP {
  margin-bottom: 3em;
  line-height: 1.1em;
  font-style: italic;
}

.cellLegacies {
  background-color: #2d2d2d !important;
  color: whitesmoke;
  border: none;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 20px 20px 5px 20px;
}

.temperedRows {
  border: 2px solid black;
  margin-bottom: 10px;
  background: #2d2d2d;
  line-height: 1.5em;
  border-radius: 1em;
}

/* SPOILER TEXT */
details p{
  margin-left: 1.2rem;
}

summary {
  cursor: pointer;
  font-size: 1.2em;
  &::after {
    padding-left: 10px;
  }
  &::-webkit-details-marker {
    display: none
  }
}

summary:hover{
  color: #4fb1ba;
}

/* Lowcountry Crawl */
.lcc-btn {
  color: black;
  background: #F0DDC3;
  width: 100%;
  border-radius: initial;
  border: 1px solid #96515C;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.lcc-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color: #96515C;
}

.lcc-btn:hover {
  color: black;
  background: whitesmoke;
}

/** TEMPERED LEGACY **/
.tempered-btn-sm {
    color: black;
    background: #D4D4BA;
    border-radius: initial;
    border: 1px solid whitesmoke;
    outline: 1px black;
    white-space: normal !important;
}

.tempered-btn-sm p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tempered-btn-sm:hover {
    color: whitesmoke;
    background-image: linear-gradient(to right, #836042, rgb(177, 140, 86), #CA868F, #3B75AF, rgb(52, 118, 142), #6E99A0);
}

.tempered-btn {
  color: black;
  background: #D4D4BA;
  width: 100%;
  border-radius: initial;
  border: 1px solid slategrey;
  outline: 1px darkslategrey;
  white-space: normal !important;
    margin-bottom: 6px;
}

.tempered-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
}

.tempered-btn:hover {
  color: whitesmoke;
  background-image: linear-gradient(to right, #836042, rgb(177, 140, 86), #CA868F, #3B75AF, rgb(52, 118, 142), #6E99A0);
}

/* Wyrd Generator */
.wyrd-btn {
  color: whitesmoke;
  background: black;
  width: 100%;
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.wyrd-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color: whitesmoke;
}

.wyrd-btn:hover {
  color: whitesmoke;
  background: darkslategrey;
}

/* Clink */
.clink-btn {
  color: whitesmoke;
  background: #AC2044;
  width: 100%;
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px #AC2044;
  white-space: normal !important;
}

.clink-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color: whitesmoke;
}

.clink-btn:hover {
  color: whitesmoke;
  background: #391036;
}

.clink-hover {
  color: whitesmoke;
  background: #391036;
  width: 100%;
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px #391036;
  white-space: normal !important;
}

.clink-hover h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color: whitesmoke;
}
/* Bone Marshes Button */

.bonemarshesCard hr {
    border: 3px solid darkslategrey;
    border-radius: 3px;
}

.bonemarshes-btn-sm {
  color: whitesmoke;
  background: darkslategrey;
  border-radius: initial;
  border: 1px solid slategrey;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.bonemarshes-btn-sm:hover {
  color: whitesmoke;
  background: darkolivegreen;
}

.bonemarshes-btn {
  color: whitesmoke;
  background: darkslategrey;
  width: 100%;
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
      margin-bottom: 6px;

}

.bonemarshes-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color: whitesmoke;
}

.bonemarshes-btn:hover {
  color: whitesmoke;
  background: darkolivegreen;
}

.bonemarshesCard {
  border-radius: 5px;
  -webkit-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  background-color: whitesmoke;
  color: darkslategrey;
  line-height: 1.1;
  display: none;
}

.bonemarshesCard h1,
.bonemarshesCard h2,
.bonemarshesCard h3,
.bonemarshesCard hr,
.bonemarshesCard div {
  margin-top: 5px;
  margin-bottom: 6px;
  color: darkslategrey;
}


/* Best Left Buried */

.leftburiedCard {
  border-radius: 5px;
  -webkit-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  line-height: 1.1;
  display:none;
}

.leftburiedCard h1,
.leftburiedCard h2,
.leftburiedCard h3,
.leftburiedCard hr,
.leftburiedCard div {
  margin-top: 5px;
  margin-bottom: 6px;
  color:whitesmoke;
}

.centerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 10px;
}

.leftburied-btn-sm {
  color: whitesmoke;
  background: rgb(38, 38, 38);
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.leftburied-btn-sm:hover {
  color: whitesmoke;
  background: black;
}

.leftburied-btn {
  color: whitesmoke;
  background: rgb(38, 38, 38);
  width: 100%;
  border-radius: initial;
  border: 1px solid whitesmoke;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.leftburied-btn h3 {
  margin-top: 5px;
  margin-bottom: 6px;
  color:whitesmoke;
}

.leftburied-btn:hover {
  color: whitesmoke;
  background: black;
}

/* Embed PDFs*/

.pdf-container {
  position: relative;
  padding-bottom: 135%;
  /* set the aspect ratio here as (height / width) * 100% */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.pdf-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*For the Troika Generator*/

.troika-btn-sm {
  color: whitesmoke;
  background: crimson;
  border-radius: initial;
  border: 1px solid crimson;
  outline: 1px rgb(38, 38, 38);
  white-space: normal !important;
}

.troika-btn-sm:hover {
  color: whitesmoke;
  background: darkred;
}

.troikabtn {
  color: #fff;
  background-color: crimson;
  border-color: crimson;
}

.troikabtn:hover{
  background-color: darkred;
}

.coinDiv {
  -webkit-transform: perspective(500px);
  -webkit-transform-style: preserve-3d;
}

.coin {
  background-image: url('/images/BackToken.png');
  background-color: silver;
  background-blend-mode: screen;
  background-size: 100% 100%;
  border-radius: 100%;
  height: 200px;
  margin: auto;
  position: relative;
  width: 200px;
  -webkit-transition: 0.5s linear;
  -webkit-transform-style: preserve-3d;
}

#coinText{
text-align: center;
font-size: 2.5em;
padding-top: 25px;
color: black;
}
.coin:after {
  background-color: silver;
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));
  bottom: 0;
  content: '';
  left: 45px;
  top: 0;
  width: 10px;
  z-index: -10;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
}

.coin:before {
  background-color: silver;
  background-blend-mode: hard-light;
  background-image: url('/images/BackToken.png');
  background-size: 100% 100%;
  border-radius: 100%;
  content: '';
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  -webkit-transform: translateZ(-10px);
}

.centerh3{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  //font-family: sans-serif;
  max-width: 5rem;
  //padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  //height: 3rem;
  font-weight: bold;
  text-align: center;
}

.collapse {
  cursor: pointer;
  padding: 15px;
  font-size: 1.17em;
  font-weight: var(--font-weight-heading);
  text-align: left;
}

.collapsecontent {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.noPadding {
    padding:initial;
}

/* Style the tab */
.btn-black {
  color: whitesmoke;
  background: black;
  width:100%;
  border-radius: initial;
  border:1px solid whitesmoke;
}

.btn-black:hover {
  color: whitesmoke;
  background: darkslategrey;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top:30px;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
}

.btn-wide {
  min-width: 200px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 30px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.tablinks {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F64B43;
  color: whitesmoke;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 400px;
  margin-right: -15px;
  margin-left: -15px;
}

.HSItabcontent {
  padding: 6px 12px;
  min-height:500px;
  border: 1px solid #ccc;
  border-top: none;
  margin-right: -15px;
  margin-left: -15px;
}

//ynn generator
.pastRecords {
  color: darkgrey;
}

//Bone Marshes Character Generator
.tightSpacing {
  margin-top: 10px;
  margin-bottom: 15px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generatorCard {
  border-radius: 5px;
  border: 3px currentColor;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
    line-height: 1.3;
}

//for organization of tags and categories
.categories a {
  display: block;
  text-decoration: none;
}

.categories h2 {
  margin: 0;
}

.categories td {
  text-align: center;
  width: 30%;
}

/*move images to top*/

.content .img img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/*Don't keep cards the same size*/
.layout-projects .column,
.layout-project .column,
.layout-welcome .column {
  display: block;
}

.leftSmallImg {
  max-width: 200px !important;
  float: left !important;
  clear: left;
  margin: 5px 25px 25px auto !important;
  z-index: 1;
}

.rightSmallImg {
  max-width: 200px !important;
  float: right !important;
  clear: right;
  margin: 5px auto 25px 25px !important;
}

h1,
h2,
h3 {
  clear: left;
}


.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}


.omniCard {
  border-radius: 5px;
  border: 3px currentColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 30px;
  background-color: whitesmoke;
  color: black;
}
.omniCard > h1 h2 h3 h4 h5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}